*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    background-color: #FEA600;
    color: white;
    padding: 3vh 3vw;
    margin: 15vh 15vw;
    text-align: center;
}

h1 {
    font-weight: 100;
    margin-bottom: 2vh;
}

p {
    margin-bottom:1.5vh ;
    font-size: 2.5em;
}

button {
    background-color: #FEA600;
    padding: 0.5em 1.5em;
    border: 0.1em solid white;
    color: white;
    border-radius: 0.2em;
}

.btn-stop {
    margin: 0 1.5em;
}